# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import random
import numpy as np

randomlist = [random.randint(1,100) for x in range(0,12) ]
# ascending
asc = sorted(randomlist)
print("Ascending Order",asc)
# descending
desc = sorted(randomlist)[::-1]
print("Descending Order",desc)
# average
avg = np.mean(asc)
print("Average",avg)

Ascending Order [8, 13, 33, 33, 50, 50, 51, 52, 71, 76, 87, 90]
Descending Order [90, 87, 76, 71, 52, 51, 50, 50, 33, 33, 13, 8]
Average 51.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import re
import string

l1=[]
l2=[]
p =input("Enter your sentence: ")
q =input("Enter your sentence: ")

#p = 'Alas! Am I alive? This is my first python program'
x=re.findall(r"[\w']+|[.,!?;]", p)
y=re.findall(r"[\w']+|[.,!?;]", q)

list3 = set(x)&set(y)

print(list3)

list4 = sorted(list3, key = lambda k : x.index(k))

list5 = [''.join(c for c in s if c not in string.punctuation) for s in list4]

list6 = [s for s in list5 if s]

print(list6)

vowel = ['a','e','i','o','u']

d = {}

for k in vowel:
    d[k] = 0

counter = 0

for x in list6:
    for k in x:
        if k.lower() == 'a':
            d['a'] += 1
        elif k.lower() == 'e':
            d['e'] += 1
        elif k.lower() == 'i':
            d['i'] += 1
        elif k.lower() == 'o':
            d['o'] += 1
        elif k.lower() == 'u':
            d['u'] += 1
        else:
            counter += 1

print(d)

Enter your sentence: Alas! Am I alive? This is my first python program
Enter your sentence: Alas! Am I alive?
{'Alas', 'I', 'alive', '!', 'Am', '?'}
['Alas', 'Am', 'I', 'alive']
{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}
{'a': 4, 'e': 1, 'i': 2, 'o': 0, 'u': 0}

hjsgfkah# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
    
volume = [((4.0/3.0)*math.pi*(r**3)) for r in range(1, 11)]

print("r"+"  "+"V")

for x in range(len(volume)):
    print(f"{x+1}  {volume[x]}")

r  V
1  4.1887902047863905
2  33.510321638291124
3  113.09733552923254
4  268.082573106329
5  523.5987755982989
6  904.7786842338603
7  1436.7550402417319
8  2144.660584850632
9  3053.6280592892786
10  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
import os
print(os.getcwd())

import pandas as pd
df = pd.read_csv (r'C:\Users\USER\Downloads\Housing.csv')

df2 = df[df['title_field']=='Occupied Housing Units']



df3 = df2.sort_values(by = 'year', ascending =True)

print("Part 1")
print(df3)

df3["dA"] = df3["value"]- df3["value"].shift(-1)
df3.sort_values(by = 'dA', ascending = True)

df3['Vacant Housing Units'] = list(df[df['title_field']=='Vacant Housing Units'].sort_values(by='year', ascending = True)['value'])
df4 = df3.drop(['title_field','dA'], axis =1)
df5 = df4.rename(columns = {'value': 'Occupied Housing Units'})
df5['Total'] = df5['Occupied Housing Units']+df5['Vacant Housing Units']

df5

import scipy
from scipy import stats

harmonic_mean= scipy.stats.hmean(df5.loc[:,"Total"]) 


print("Part 4")

print("Harmonic Mean of Total Occupied Units:",harmonic_mean)


df6 = df5.copy()


df6['Occupied Housing Units'] = (df6['Occupied Housing Units']/df6['Total']*100)

df6['Vacant Housing Units'] = (df6['Vacant Housing Units']/df6['Total']*100)


df9=df6.drop('Total', axis =1)

print("Part 2")
print(df9)




df6['Occupied Housing Units']


Years = list(df5['year'])
Occupied = list(df5['Occupied Housing Units'])
Vacant = list(df5['Vacant Housing Units'])


Occupied_list = [Years[Occupied.index(max(Occupied))],max(Occupied)]
Vacant_list = [Years[Vacant.index(max(Vacant))],max(Vacant)]

df7 = pd.DataFrame([Occupied_list,Vacant_list],columns=['Year','Value'])

print("Part 3")
df7.rename(index={0:'Occupied Housing Units',1:'Vacant Housing Units'})

C:\Users\USER\Downloads
Part 1
    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295
Part 4
Harmonic Mean of Total Occupied Units: 44398.28543969185
Part 2
    year  Occupied Housing Units  Vacant Housing Units
20  2008               89.117347             10.882653
17  2009               90.928884              9.071116
14  2010               91.857444              8.142556
11  2011               90.620478              9.379522
8   2012               93.322400              6.677600
5   2013               91.198212              8.801788
2   2014               94.269889              5.730111
Part 3

                        Year  Value
Occupied Housing Units  2014  46295
Vacant Housing Units    2008   4483